<!-- ingreso-rapido.component.html -->
<div class="ingreso-rapido-container d-flex justify-content-center mb-4">
    <button class="btn btn-lg btnIngreso btn-primary btnAdmin" (click)="seleccionarCredenciales('pocagob956@nasmis.com', 'pamela123')">Pamela (Admin)</button>
    <button class="btn btn-lg btnIngreso btn-primary btnPac1" (click)="seleccionarCredenciales('digepa4673@notedns.com', 'matias123')">Matías</button>
    <button class="btn btn-lg btnIngreso btn-primary btnPac2" (click)="seleccionarCredenciales('lovefo4099@mainoj.com', 'daniela123')">Daniela</button>
    <button class="btn btn-lg btnIngreso btn-primary btnPac3" (click)="seleccionarCredenciales('wocopak517@nasmis.com', 'pedro123')">Pedro</button>
    <button class="btn btn-lg btnIngreso btn-primary btnEsp1" (click)="seleccionarCredenciales('micih92335@notedns.com', 'alejandra123')">Alejandra</button>
    <button class="btn btn-lg btnIngreso btn-primary btnEsp2" (click)="seleccionarCredenciales('bikimiw724@mainoj.com', 'fernando123')">Fernando</button>
  </div>