body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20%;
  }
  
  .message {
    text-align: center;
  }
  
  .message h1 {
    font-size: 24px;
    color: #122C34; /* Color verde (puedes cambiarlo a tu gusto) */
  }
  
  .message p {
    font-size: 18px;
    color: #333; /* Color de texto oscuro */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .back-button, .verify-button {
    background-color: #122C34;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .back-button .arrow-icon {
    margin-right: 8px;
  }
  
  .back-button:hover, .verify-button:hover {
    background-color: #224870; /* Cambia el color al pasar el mouse (puedes cambiarlo a tu gusto) */
  }