<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.css">
  <title>Pagina Principal</title>
</head>
<body>
  <div class="container">
    <div class="message">
      <h1>¡Bienvenido a la Clinica Norte!</h1>
      <div class="button-container">
        <button routerLink="../register" class="back-button">
          <span class="arrow-icon">&#8592;</span> Ir al Registro
        </button>
        <button routerLink="../login"  class="verify-button" >Ir al Login  <span class="arrow-icon">&#8594;</span></button>
      </div>
    </div>
  </div>
</body>
</html>