<body><section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-6" [ngClass]="{'registroMargen': !this.vieneDeRegistro}">
                <div class="card mb-4" style="border-radius: 15px;">
                    <div class="card-body p-5">
      
                      <h2 class="text-uppercase text-center mb-5">Registrar Especialista</h2>
                      
                      <form [formGroup]="registerForm">
                        
                        <div class="form-outline mb-4">
                          <input type="text" appSoloLetras formControlName="nombre" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1cg">Nombre</label>
                          <div *ngIf="registerForm.controls['nombre'].errors != null">
                            <small *ngIf="registerForm.controls['nombre'].errors['required'] && registerForm.controls['nombre'].touched">¡El Nombre es requerido!</small>
                            <small *ngIf="registerForm.controls['nombre'].errors['pattern'] && registerForm.controls['nombre'].touched">¡El Nombre debe ser válido!</small>
                          </div>
                        </div>
                        
                        <div class="form-outline mb-4">
                          <input type="email" appSoloLetras formControlName="apellido" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example3cg">Apellido</label>
                          <div *ngIf="registerForm.controls['apellido'].errors != null">
                            <small *ngIf="registerForm.controls['apellido'].errors['required'] && registerForm.controls['apellido'].touched">¡El Apellido es requerido!</small>
                            <small *ngIf="registerForm.controls['apellido'].errors['pattern'] && registerForm.controls['apellido'].touched">¡El Apellido debe ser válido!</small>
                          </div>
                        </div>
                        
                        <div class="form-outline mb-4">
                          <input type="text" appSoloNumeros formControlName="edad" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example4cg">Edad</label>
                          <div *ngIf="registerForm.controls['edad'].errors != null">
                            <small *ngIf="registerForm.controls['edad'].errors['required'] && registerForm.controls['edad'].touched">¡La edad es requerida!</small>
                            <small *ngIf="registerForm.controls['edad'].errors['pattern'] && registerForm.controls['edad'].touched">¡La edad debe ser válida!</small>
                          </div>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" appSoloNumeros formControlName="dni" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example4cdg">DNI</label>
                          <div *ngIf="registerForm.controls['dni'].errors != null">
                            <small *ngIf="registerForm.controls['dni'].errors['required'] && registerForm.controls['dni'].touched">¡El DNI es requerido!</small>
                            <small *ngIf="registerForm.controls['dni'].errors['pattern'] && registerForm.controls['dni'].touched">¡El DNI debe ser válido!</small>
                          </div>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" formControlName="mail" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example4cdg">Mail</label>
                          <div *ngIf="registerForm.controls['mail'].errors != null">
                            <small *ngIf="registerForm.controls['mail'].errors['required'] && registerForm.controls['mail'].touched">¡El Mail es requerido!</small>
                            <small *ngIf="registerForm.controls['mail'].errors['pattern'] && registerForm.controls['mail'].touched">¡El Mail debe ser válido!</small>
                          </div>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="password" formControlName="password" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example4cdg">Contraseña</label>
                          <div *ngIf="registerForm.controls['password'].errors != null">
                            <small *ngIf="registerForm.controls['password'].errors['required'] && registerForm.controls['password'].touched">¡La Contraseña es requerida!</small>
                            <small *ngIf="registerForm.controls['password'].errors['pattern'] && registerForm.controls['password'].touched">¡La Contraseña debe tener 6 dígitos o más!</small>
                          </div>
                        </div>
                        
                        <div class="file input-group mb-4">
                            <input type="file" class="form-control btn-outline-secondary" formControlName="foto" accept="image/*"(change)="handleFileInput($event)">
                        </div>
                        <label class="form-label" for="form3Example4cdg">Foto de Perfil</label>

                        <ngx-recaptcha2 #captchaElem
                          [siteKey]="siteKey"
                          
                          formControlName="recaptcha">
                        </ngx-recaptcha2>

                        <div class="d-flex justify-content-center">
                          <button type="button"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="OnRegisterClick()">Register</button>
                        </div>
                        
                        <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="login"
                          class="fw-bold text-body"><u>Login here</u></a></p>
                        </form>
                      </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card mb-4" style="border-radius: 15px;">
                    <div class="card-body p-5">
      
                      <h2 class="text-uppercase text-center mb-5">ELEGIR ESPECIALIDADES</h2>
                      
                      <form [formGroup]="especialidadesForm">
                        <div class="card-esp">
                            <div class="row scrollable-row">
                                <div *ngFor="let specialty of especialidades" 
                                    (click)="toggleSpecialty(specialty)"
                                    [class.selected]="isSelected(specialty)"
                                    class="specialty">
                                    {{ specialty }}
                                </div>
                                <div *ngFor="let specialty of especialidadesOtras" 
                                    (click)="toggleSpecialty(specialty)"
                                    [class.selected]="isSelected(specialty)"
                                    class="specialty">
                                    {{ specialty }}
                                </div>
                            </div>
                            
                          </div>
                          <div class="form-outline mb-4 d-flex">
                              <input type="text" formControlName="especialidadOtra" class="form-control form-control-lg" />
                              <button type="button" class="btn btn-primary ms-2" (click)="agregarEsp()">Agregar</button>
                            </div>
                            <label class="form-label" for="form3Example4cdg">Otra(s)</label>
                          </form>
                          </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
</body>