body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
}

.navigationWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #224870; /* Cambiado a #224870 */
  box-shadow: 0 5px 15px 0 rgba(26, 5, 5, 0.25);
  color: #cecece; /* Cambiado a #cecece */
  text-transform: uppercase;
  z-index: 1000;
  transition: background-color 0.3s;
}

.logoWrapper {
  display: flex;

  .stylish {
    font-weight: bold;
  }

  .logo {
    padding-left: 4px;
    color: #6b50e4;
  }
}

.navbar {
  background-color: #224870; /* Cambiado a #224870 */
}

.nav-link {
  font-family: sans-serif;
  color: #cecece; /* Cambiado a #cecece */
  transition: color 0.3s;
}

.nav-link:hover {
  color: rgb(65, 140, 211); /* Cambiado a rgb(65, 140, 211) */
}

.loading {
  background-color: rgba(74, 74, 74, 0.8);
  &:hover {
    cursor: progress;
  }
}

.router {
  margin-top: 80px;
}

.logo {
  width: 50px;
  height: 40px;
}

.logout {
  margin-top: 4px; /* Alinea el botón de logout con los demás items */
}

.btn{
  &:hover {
    cursor: pointer;
    color: rgb(173, 203, 231);
  }
}